<h2><%= @plist.name %></h2>
<p class="pull-right">
  <%= link_to "download", plist_path(@plist.uuid, :format => :xml) %>
</p>
<p><code><%= @plist.command %></code></p>
<p><pre><code><%= @plist_xml %></code></pre></p>
