body > header {
  border-bottom: 1px solid var(--muted-border-color);
  background-color: var(--card-sectionning-background-color);
}
body > footer {
  border-top: 1px solid var(--muted-border-color);
  background-color: var(--card-sectionning-background-color);
}

@media (min-width: 576px) {
  body > header {
    --block-spacing-vertical: 0;
  }
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: var(--spacing);
  }
}
@media (min-width: 768px) {
  body > header {
    --block-spacing-vertical: 0;
  }
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: var(--spacing);
  }
}
@media (min-width: 992px) {
  body > header {
    --block-spacing-vertical: 0;
  }
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: var(--spacing);
  }
}
@media (min-width: 1200px) {
  body > header {
    --block-spacing-vertical: 0;
  }
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: var(--spacing);
  }
}
