/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
*/

footer {
  border-top: 1px solid #E5E5E5;
  margin-top: 45px;
  padding: 20px 0 20px;
  *zoom: 1;
}
footer:after {
  clear: both;
}
footer:before, footer:after {
  display: table;
  content: "";
}

h3 {
  margin: 1em 0;
}
