// Place all the styles related to the plists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.control-group > span,
.control-group > p,
.help-inline, label.checkbox {
  color: #999; // to match the help-block style
}

// clearfix for form-actions, fixed in bootstrap edge
.form-actions {
  *zoom: 1;
}
.form-actions:after {
  clear: both;
}
.form-actions:before, .form-actions::after {
  display: table;
  content: "";
}
