// Place all the styles related to the plists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.help-inline {
  color: #999; // to match the help-block style
}
